@model IEnumerable<ProjektProgramowanie.Models.Group>

<h1>Groups</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Teacher</th>
            <th>Students</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>@group.Name</td>
                <td>@group.Teacher.FirstName @group.Teacher.LastName</td>
                <td>
                    <ul>
                        @foreach (var student in group.Students)
                        {
                            <li>@($"{student.FirstName} {student.LastName}")</li>
                        }
                    </ul>
                </td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", "Groups", new { id = group.Id })">Edit</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Groups", new { id = group.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
